/* #region general */
img {
    max-width: 100%;
}

/* #endregion general */


.images img {
    width: 200px; 
}

.images img:not(.active) {
    display: none;
}

.thumbnailImg img:not(.thumbnailActive) {
    filter: opacity(0.5);
}

.buttons .prev {
    position: absolute; 
    top: 40%;
    left: 10%;
}

.buttons .next {
    position: absolute; 
    top: 40%;
    left: 85%;
}